.editContainer{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, .7);
    position: absolute;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.editForm{
    background: #fff;
    border-radius: 8px;
    width: 80%;
    text-align: center;
    padding: 1rem;
}
.editHeader{
    display: flex;
    justify-content: space-between;
}
