<div class="detailContainer">
    <div class="detail">
        <div class="detailHeader">
            <h1>Detalle de curso</h1>
            <a routerLink="/cursos">
                <mat-icon>close</mat-icon>
            </a>
        </div>
        <div class="col-md-8">
          <mat-card>
              <mat-card-header>
                  <mat-card-title>{{ datosCurso.nombre }}</mat-card-title>
                  <mat-card-subtitle>{{ datosCurso.id }}</mat-card-subtitle>
              </mat-card-header>

              <img mat-card-image [src]="datosCurso.imagen" alt="coderhouse">

              <mat-card-content>
                  <p>Comision {{ datosCurso.comision }}</p>
                  <p>Impartido por {{ datosCurso.profesor }}</p>
                  <p>Inicial el {{ datosCurso.fechaInicio | date: 'dd/MM/YYYY' }}</p>
                  <p>Finaliza el {{ datosCurso.fechaFin | date: 'dd/MM/YYYY' }}</p>
                  <p>Matricula {{ datosCurso.inscripcionAbierta }}</p>
              </mat-card-content>
          </mat-card>
          </div>
<!--
        <div *ngIf="(curso$ | async)">
            <pre>
            {{ curso$ | async | json }}
            </pre>
        </div> -->

        <div *ngIf="!(curso$ | async)">
            <p>No se encontró el curso</p>
        </div>
    </div>
</div>
