*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.registro-container{
    background-color: #e5e5f7;
    background-image:  radial-gradient(#000000 0.5px, transparent 0.5px), radial-gradient(#8100d6 0.5px, #5f5f5f 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    display: flex;
    min-height: 100vh;
}

.form_title {
    font-size: 1.8rem;
    margin-bottom: .5rem;
}

.form {
    background:#fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}

.form_container {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form_group {
    position: relative;
    color: #5757577e;
}

.form_submit {
    background: #3866f2;
    width: 6rem;
    top: 1.7rem;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    padding: .5em 0;
    border: none;
    border-radius: .5em;
}

