
<div class="d-flex">
      <div class="p-2 flex-grow-1">
        <span class="col-md-6 title">Lista de cursos</span>
        <mat-spinner *ngIf="cargando"></mat-spinner>
      </div>
</div>
<div class="row mb-3" *ngIf="sesion$ | async as sesion">
    <div *ngFor="let curso of cursos$ | async" class="col-md-3">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ curso.nombre }}</mat-card-title>
            <mat-card-subtitle>{{ curso.comision }}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image [src]="curso.imagen" alt="coderhouse">

        <mat-card-content>
            <p>Impartido por {{ curso.profesor }}</p>
            <p>Inicial el {{ curso.fechaInicio | date: 'dd/MM/YYYY' }}</p>
            <p>Finaliza el {{ curso.fechaFin | date: 'dd/MM/YYYY' }}</p>
            <p [appBooleanoEstilo]="curso.inscripcionAbierta">{{ curso.inscripcionAbierta | booleanATexto: 'Matricula abierta' : 'Matricula cerrada' | uppercase }}</p>
        </mat-card-content>

        <mat-card-actions align="end" >
            <button mat-icon-button [routerLink]="'/cursos/'+curso.id">
                <mat-icon>visibility</mat-icon>
            </button>

            <button mat-icon-button color="primary" (click)="editarCurso(curso)" *ngIf="sesion.usuarioActivo?.admin">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" (click)="eliminarCurso(curso)" *ngIf="sesion.usuarioActivo?.admin">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    </div>
</div>
<router-outlet></router-outlet>
