.main-home{
    width: 100%;
    background-color: rgb(76, 129, 169);
}

.card-home{
    padding: 1rem 1rem;
    text-align: center;
}

.listaCursos{
    width: 100%;
    text-align: center;
}
h2{
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
}
thead{
    color: #fff;
    background-color: #333;
    font-size: 15px;
    letter-spacing: 3px;
    text-align: center;
}
th{
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
td{
    padding: 12px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}