<div class="login-container">

    <form [formGroup]="formulario" (ngSubmit)="login()" class="form">
        <span class="form_title">Registro</span>

        <div class="form_container">
            <div class="form_group">
                <mat-form-field appearance="fill" class="fill">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="usuario">
                </mat-form-field>
            </div>
            <div class="form_group">
                <mat-form-field appearance="fill" class="fill">
                    <mat-label>Contrasena</mat-label>
                    <input matInput formControlName="contrasena">
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-12">
            <!-- <mat-slide-toggle formControlName="canLoad">Visita</mat-slide-toggle> -->
            <mat-slide-toggle formControlName="canActivateChild">Estudiante</mat-slide-toggle>
            <mat-slide-toggle formControlName="admin">Admin</mat-slide-toggle>
        </div>

        <button class="form_submit" type="submit" mat-raised-button color="primary">Entrar</button>
    </form>

</div>
