
<ng-container *ngIf="sesion$ | async as sesion">
    <div *ngIf="sesion.sesionActiva">
        <mat-toolbar class="toolbar">
            <h4>App Angular</h4>
            <button mat-button
                (click)="opened=!opened"
            ><mat-icon>menu</mat-icon></button>
            <button mat-button routerLink="" *ngIf="sesion.sesionActiva">
                <mat-icon>home</mat-icon>
            </button>
            <div class="espacio"></div>
            <a mat-button *ngIf="sesion.usuarioActivo?.admin">
                <span class="usuarioActivo">{{ sesion.usuarioActivo?.usuario }}</span>
                <mat-icon>person</mat-icon>
            </a>
            <a mat-button (click)="cerrarSesion()">
                <mat-icon>login</mat-icon>
            </a>
        </mat-toolbar>
    </div>
</ng-container>

<mat-sidenav-container *ngIf="sesion$ | async as sesion">
    <mat-sidenav [(opened)]="opened" mode="side" *ngIf="sesion.sesionActiva">
        <div class="menu-lateral">
            <ng-container *ngIf="sesion$ | async as sesion">
                <button  mat-raised-button routerLink="cursos" >
                    <mat-icon>computer</mat-icon>
                    <p>Cursos</p>
                </button>
                <button  mat-raised-button
                        (click)="dialogAgregarCurso()"
                         *ngIf="sesion.usuarioActivo?.admin">
                    <mat-icon>upgrade</mat-icon>
                    <p>Agregar curso</p>
                </button>
                <button  mat-raised-button routerLink="inscripciones/lista" >
                    <mat-icon>event upcoming</mat-icon>
                    <p>Inscripciones</p>
                </button>
            </ng-container>
        </div>
    </mat-sidenav>


    <mat-sidenav-content>
       <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<div class="footer">
   <span>CoderHouse curso de Angular</span>
</div>
