<div class="detailContainer">
    <div class="detail">
        <div class="detailHeader">
            <span>Detalle de curso</span>
            <a routerLink="/cursos">cerrar</a>
        </div>
        <div >
            <mat-spinner *ngIf="!(curso$ | async)"></mat-spinner>
        </div>
        <div class="col-md-6" *ngIf="(curso$ | async)">
          <mat-card>
              <mat-card-header>
                  <mat-card-title>{{ detalleCurso.nombre }}</mat-card-title>
                  <mat-card-subtitle>{{ detalleCurso.id }}</mat-card-subtitle>
              </mat-card-header>

              <img mat-card-image [src]="detalleCurso.imagen" alt="coderhouse">

              <mat-card-content>
                  <p>Comision {{ detalleCurso.comision }}</p>
                  <p>Impartido por {{ detalleCurso.profesor }}</p>
                  <p>Inicial el {{ detalleCurso.fechaInicio | date: 'dd/MM/YYYY' }}</p>
                  <p>Finaliza el {{ detalleCurso.fechaFin | date: 'dd/MM/YYYY' }}</p>
                  <p>Matricula {{ detalleCurso.inscripcionAbierta }}</p>
              </mat-card-content>
          </mat-card>
        </div>
    </div>
</div>
